*{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.search-area {
    height: 200px;
    width: 400px;
    background-color: aqua;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.greeting{
    align-self: flex-start;
    padding-left: 70px;
    padding-bottom: 5px;
}

input {
    width: 60%;
    height: 27px;
    padding: 5px;
    border-radius: 8px;
    display: inline-block;
}

.search-send {
    border-radius: 8px;
    border: 1px solid #000;
    padding: 10px 15px;
    background-color: blue;
    display: inline-block;
}